body
{
	background-color: deepskyblue;
}

div
{
	
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20%;
	border-radius: 5%;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: powderblue;

}

